<% conspiracies.forEach((c)=> { %>
    <div class="well">
        <h3>
            <%= c.title %>
        </h3>
        <p>
            <%= c.description %>
        </p>
        <p>
            <%= c.rating %>
        </p>
    </div>
    <% }); %>