<h2>Homepage</h2>

<h3>Current News Articles</h3>

<% console.log(articles) %>



<% articles.forEach(a => { %>
    <div class="well">
        <h2><%= a.title %></h2>
            <p>
                Article Description: <%= a.description %>
            </p>
            <p>
                Article Content: <%= a.content %>
            </p>
    </div>
    <% }) %>